
.main{
    position: relative;
    margin-top: 40px;
    margin-bottom: -45px;

    

    h2{
        position: relative;
        color: #fff;

        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 15px;
        word-spacing: 10px;
        text-transform: uppercase;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: 0 20px;
        width: 58%;
        z-index: 12;
    }

    hr{
        position: relative;
        background-color: #fff;
        width: clamp(500px, 68vw, 1100px);
        margin: 0px 20px;
        z-index: 12;
    }

    section {
        position: relative;
        width: 100%;
        overflow: scroll;
        padding: 10px 10px 20px 30px;
        // margin-top: 80px



        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
            display: none;
        }

        .space {
            display: block;
            width: 500px;
            height: 100%;
        }
    }


    div.leftPass{
        display: block;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, var(--background) 50%, #0000 100%);
        transition: all 1s;

        span{
            top: 48%;
            margin-left: 5px;
            transform: rotate(180deg);
            
            &:hover{
                transform: rotate(180deg) scale(1.1);
            }
        }
    }
    div.rightPass {
        top: -15%;
        height: 120%;
        right: 0;
        background: linear-gradient(-90deg, var(--background) 50%, #0000 100%);

        span{
            top: 53%;
            left: 45%;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    div.pass{
        position: absolute;
        width: 90px;
        // height: 120%;
        
        z-index: 10;
        
       
        span{
            position: absolute;
            width: 30px;
            height: 30px;

            cursor: pointer;
            opacity: .8;

            div img{
                object-fit: cover;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}

//celular
@media (max-width: 1080px){
    .main {
        h2{
            font-size: 0.8rem;
            letter-spacing: 3px;
            word-spacing: 0;
            width: 80%;
        }
        hr{
            width: 80%;
        }
    }
}

.reduceWidth {
    h2{
        font-size: 0.8rem;
        letter-spacing: 3px;
        word-spacing: 0;
        width: 80%;
    }
    hr{
        width: 80%;
    }
}

.filmes{
    display: flex;
    flex-direction: row;
    position: relative;

    list-style: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
