
.main{
    position: relative;
    margin-top: 40px;
    margin-bottom: -45px;
    

    h2{
        color: #fff;

        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 15px;
        word-spacing: 10px;
        text-transform: uppercase;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: 0 20px;
        width: 50vw;
    }

    hr{
        width: clamp(500px, 68vw, 1100px);
        margin: 0 10px;
    }

    section {
        width: 100vw;
        overflow: scroll;
        padding: 10px 10px 20px 30px;



        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
            display: none;
        }
    }
    div.rightPass{
        top: 0;
        left: 0;
        background: linear-gradient(90deg, var(--background) 50%, #0000 100%);

        span{
            top: 40%;
            right: 45%;

        }
    }
    div.leftPass {
        top: 0;
        right: 0;
        background: linear-gradient(-90deg, var(--background) 50%, #0000 100%);

        span{
            top: 40%;
            left: 45%;

        }
    }
    div.pass{
        position: absolute;
        width: 90px;
        height: 130%;
        
        z-index: 10;
        
       
        span{
            position: absolute;
            top: 40%;
            width: 30px;
            height: 30px;

            cursor: pointer;
            opacity: .8;

            div img{
                object-fit: cover;
            }
            &:hover{
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}


//celular
@media (max-width: 1080px){
    .main {
        h2{
            font-size: 0.8rem;
            width: 80vw;
        }
        hr{
            width: 80vw;
        }
    }
}

.filmes{
    display: flex;
    flex-direction: row;
    position: relative;

    list-style: none;
    margin-top: 10px;
}
