html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

:root {

  --background: #3e3e3e;
  --background2: #C4C4C4;
  --primaryColor: #90CEA1;
  --secondaryColor: #01B4E4;

  --gradientLinear: linear-gradient(45deg, var(--primaryColor) 0, var(--secondaryColor) 100%);

}

span.img{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  div img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

}

ul{
  margin: 0;
  padding: 0;
}

hr{
  border-radius: 2px;
  border-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
      background: #4f4f4f;
      border: 15px solid transparent;
  }
  &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 100px var(--background);
      border: 5px solid transparent;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover{
      cursor: n-resize
  }
  &::-webkit-scrollbar-thumb:hover {
      box-shadow: inset 0 0 100px #222;
  }
}
